/* DEFINE VARIABLES */
:root {
    --accent-color: #FF0000;
    --secondary-accent: #B22222;

    --background-color: black;

    --text-color-primary: #FFFFFF;
    --text-color-secondary: #BBBBBB;

    --button-background: var(--accent-color);
    --button-text: #FFFFFF;
    --border-color: #444444;
    --dark-border-color: rgb(20, 20, 20);
    --button-selected: rgba(10, 10, 10, 0.3);

    --link-hover: var(--secondary-accent);
    --icon-color: #CCCCCC;

    --star-color: rgba(187, 187, 187, 0.4);
}

/* SMOOTH SCORLLING */
html {
    scroll-behavior: smooth;
}

/* ACCENT */
accent {
    color: var(--secondary-accent);
}

/* MAIN */
main {
    height: 100%;
    background-image: radial-gradient(circle, rgba(100, 100, 100, 0.1) 1px, transparent 1px);
    background-size: 2.5rem 2.5rem;
}
button:hover {
    cursor: pointer;
}

/* RESET STYLING */
*, h1,h2,h3,h4,h5,h6,span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLOR SPLASH */
.splash {
    z-index: -1;
    position: fixed;
    border-radius: 50%;
    object-fit: cover;
}
.splash#green {
    background: radial-gradient(circle, rgba(40, 160, 40, 0.15) 0%, rgba(40, 160, 40, 0) 60%);
    bottom: -10%;
    left: 5%;
    height: 32rem;
    width: 32rem;
}
.splash#red {
    background: radial-gradient(circle, rgba(160, 40, 40, 0.1) 0%, rgba(160, 40, 40, 0) 60%);
    top: 15%;
    left: 25%; right: 0;
    height: 32rem;
    width: 32rem;
}
.splash#blue {
    background: radial-gradient(circle, rgba(40, 72, 160, 0.2) 0%, rgba(40, 72, 160, 0) 60%);
    top: 40%;
    left: 50%;
    height: 24rem;
    width: 24rem;
}
.splash#yellow {
    background: radial-gradient(circle, rgba(201, 190, 40, 0.05) 0%, rgba(201, 190, 40, 0) 60%);
    top: 0%;
    left: 0%;
    height: 16rem;
    width: 16rem;
}
.splash#white {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 65%);
    top: 0%;
    left: 70%;
    height: 48rem;
    width: 48rem;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    color: var(--text-color-primary);
    line-height: 1.6;
    background: radial-gradient(ellipse at bottom, #0a1727 0%, #0b0c0f 100%);
    overflow-x: hidden;
}

/* MAIN */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* ROTATING ICONS */
.skills .skill,
.skills .skill img,
.skills .skill:hover,
.skills .skill:hover img,
.projects .project .previews .preview,
.projects .project .previews .preview img,
.projects .project .technologies .technology,
.projects .project .technologies .technology img {
    transition: 0.2s ease-out;
}

/* TITLE */
.title {
    user-select: none;
    margin-top: 3rem;
    margin-bottom: 0.6rem;
}

.title-extra {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
}

.title a {
    text-align: right;
    color: var(--accent-color);
    text-decoration: none;
}

.title h1 {
    transition: color 0.3s ease-out;
    font-family: monospace;
}

.title hr {
    border: none;
    height: 1px;
    background: linear-gradient(to right, var(--border-color), rgba(68, 68, 68, 0));
}

/* TOP BAR*/
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.4rem 0.2rem;
}

.top-bar img {
    width: 2rem;
    height: 1.8rem;
    transition: scale 0.2s ease-in-out;
}

.top-bar img:hover {
    scale: 1.2;
}

.top-bar .gradient-text {
    user-select: none;
    display: flex;
    font-size: 2rem;
}

.top-bar .gradient-text span {
    font-weight: 550;
    display: inline-block;
    background: linear-gradient(to right, rgb(236, 236, 236), rgb(124, 124, 124));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0 -0.4px;
    transition: margin 0.2s ease-in-out;
}

.top-bar .gradient-text:hover span {
    margin: 0 1px;
}

/* ABOUT ME */
.about-me {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.about-me .personal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}


.about-me .personal .box #avatar {
    width: 7rem;
    height: 7rem;
    cursor: pointer;
    border-radius: 100%;
    margin-right: 1rem;
    object-fit: cover;
    object-position: center center;
    transition: transform 0.4s ease-in-out; 
}

#avatar:hover {
    transform: scale(1.1);
}

.about-me .personal .box .info-text {
    margin-top: -0.9rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.about-me .personal #waving-hand {
    margin-left: 0.4rem;
    width: 1.4rem;
    height: 1.4rem;
}

.about-me .personal .box .description {
    color: var(--text-color-secondary);
    margin-top: -0.3rem;
}

.about-me .personal .box .location {
    margin-top: 0.3rem;
    color: var(--text-color-secondary);
}


/* SOCIALS */
.socials {
    width: max-content;
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 20px;
}

.socials .socials-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.6rem 1.2rem;
}

.social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.8rem;
    height: 2.8rem;
    background-color: var(--button-selected);
    border: 1px solid var(--border-color);
    border-radius: 50%;
    color: var(--icon-color);
}

.social a img {
    transition: transform 0.3s;
}

.social a:hover img {
    transform: scale(1.1);
}

/* RESUME */
button#resume {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 10px 20px;
    background-color: var(--button-background);
    color: var(--button-text);
    border: 1px solid var(--button-background);
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.4s ease-out;
}

button#resume img {
    width: 1.4rem;
    height: auto;
    padding-right: 0.2rem;
    fill: var(--button-text);
}

button#resume:hover {
    color: var(--text-color-secondary);
    border: 1px solid var(--secondary-accent);
    background-color: transparent;
}

/* SVG icons */
.social a img {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

/* MY WORK */
.my-work .display-tab {
    width: 100%;
    height: max-content;
    border: 1px solid var(--border-color);
    border-radius: 0.2rem;
}

/* SKILLS */
.skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.6rem;
}

.skills .skill {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0.8rem;
    border-radius: 0.3rem;
    background: var(--button-selected);
    color: var(--primary-text-color);
}

.skills .skill:hover {
    font-size: 1rem;
}

.skills .skill img {
    width: 24px;
    height: 24px;
    margin-right: 0.4rem;
    fill: var(--icon-color);
    transform-origin: center;
}

/* SELECT TAB */
.select-tab {
    width: 100%;
    border-radius: 0.4rem;
    border: 1px solid var(--border-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4rem;
    padding: 0.3rem 0.4rem;
    margin-bottom: 1rem;
}

.select-tab button {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.2rem;
    color: var(--button-text);
    border: 1px solid var(--button-selected);
    background: var(--button-selected);
    transition: color 0.4s ease-in-out, background 0.4s ease-in-out, border 0.4s ease-in-out;
}

.select-tab button:hover {
    color: var(--text-color-secondary);
    background: var(--button-selected);
    border: 1px solid var(--border-color);
}

.select-tab .selected {
    background: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.select-tab .selected:hover {
    background: var(--secondary-accent);
    border: 1px solid var(--accent-color);
}

/* PROJECTS */
.projects #personal,
.projects #commercial {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}
.projects .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 48%;
    margin-top: 2rem;
}
.projects .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    flex: 0 1 48%;
    margin-top: 2rem;
}

.projects .project img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    transition: transform 0.5s ease;
}

.projects .project img:hover {
    transform: scale(1.05);
}

.projects .project .info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.2rem;
    padding-top: 1.6rem;
    border: 1px solid;
    border-image: linear-gradient(to bottom, var(--border-color), rgba(0, 0, 0, 0)) 1;
    border-radius: 1rem;
}

.projects .project .info h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
}

.projects .project .text-box {
    margin-bottom: auto;
}

.projects .project .previews {
    margin-top: auto;
}

.projects .project .info .text-box p {
    color: var(--text-color-secondary);
    padding: 0 0 0 0.6rem;
}

.projects .project .technologies {
    margin-top: 1.6rem;
    gap: 0.4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.projects .project .technologies .technology {
    user-select: none;
    padding: 0 0.4rem;
    border-radius: 0.2rem;
    background: var(--button-selected);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.projects .project .technologies .technology img {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.4rem;
    fill: var(--button-text);
}

.projects .project .previews {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.projects .project .previews .preview {
    width: 100%;
}

.projects .project .previews .preview a {
    width: 95%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    padding: 0.2rem;

    text-decoration: none;
    color: var(--primary-text-color);
    background: var(--button-selected);
    border: 1px solid var(--dark-border-color);
    border-radius: 0.2rem;

    transition: color 0.2s ease-in-out;
}

.projects .project .previews .preview a:hover {
    color: var(--text-color-secondary);
}

.projects .project .previews .preview img {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.4rem;
    fill: white;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    .projects #personal,
    .projects #commercial {
        flex-direction: column;
        align-items: stretch;
    }

    .projects .project {
        width: 100%;
        margin-top: 1rem;
    }

    .projects .project img {
        height: 24rem;
    }

    .projects .project .info {
        padding: 1rem;
        padding-top: 1.2rem;
    }

    .projects .project .info h4 {
        font-size: 1.4rem;
    }

    .projects .project .previews {
        flex-direction: column;
        gap: 0.6rem;
    }

    .projects .project .previews .preview {
        width: 100%;
    }
}

/* FOOTER */
footer {
    margin-bottom: 5rem;
}

footer .even-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer .car-icon img {
    width: 6rem;
    height: auto;
    transition: transform 0.3s ease;
}

footer .car-icon img:hover {
    transform: translateX(1vw);
}

footer .logo img {
    width: 2rem;
    height: 1.8rem;
    transition: scale 0.3s ease;
}

footer .logo img:hover {
    scale: 1.2;
}

footer a {
    color: var(--accent-color);
    text-decoration: none;
}

footer a:hover {
    transition: color 0.4s ease-out;
    color: var(--secondary-accent);
}

/* SHOOTING STARS */
.stars {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
}

.star {
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite,
        tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
    .star {
        animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
}
.star:nth-child(1) {
    --star-tail-length: 5.08em;
    --top-offset: 16.34vh;
    --fall-duration: 10.404s;
    --fall-delay: 7.351s;
}
.star:nth-child(2) {
    --star-tail-length: 5.39em;
    --top-offset: 2.14vh;
    --fall-duration: 9.827s;
    --fall-delay: 7.883s;
}
.star:nth-child(3) {
    --star-tail-length: 5.94em;
    --top-offset: 68.08vh;
    --fall-duration: 6.403s;
    --fall-delay: 3.321s;
}
.star:nth-child(4) {
    --star-tail-length: 6.53em;
    --top-offset: 83.15vh;
    --fall-duration: 9.645s;
    --fall-delay: 0.037s;
}
.star:nth-child(5) {
    --star-tail-length: 5.69em;
    --top-offset: 3.29vh;
    --fall-duration: 9.994s;
    --fall-delay: 6.023s;
}
.star:nth-child(6) {
    --star-tail-length: 6.18em;
    --top-offset: 60.64vh;
    --fall-duration: 6.49s;
    --fall-delay: 6.842s;
}
.star:nth-child(7) {
    --star-tail-length: 5.44em;
    --top-offset: 30.15vh;
    --fall-duration: 11.423s;
    --fall-delay: 3.764s;
}
.star:nth-child(8) {
    --star-tail-length: 5.3em;
    --top-offset: 29.99vh;
    --fall-duration: 6.487s;
    --fall-delay: 5.096s;
}
.star:nth-child(9) {
    --star-tail-length: 5.06em;
    --top-offset: 28.99vh;
    --fall-duration: 6.366s;
    --fall-delay: 4.782s;
}
.star:nth-child(10) {
    --star-tail-length: 6.87em;
    --top-offset: 60.16vh;
    --fall-duration: 7.442s;
    --fall-delay: 4.53s;
}
.star:nth-child(11) {
    --star-tail-length: 6.39em;
    --top-offset: 63.77vh;
    --fall-duration: 7.705s;
    --fall-delay: 2.531s;
}
.star:nth-child(12) {
    --star-tail-length: 5.89em;
    --top-offset: 84.95vh;
    --fall-duration: 6.361s;
    --fall-delay: 1.321s;
}
.star:nth-child(13) {
    --star-tail-length: 6.6em;
    --top-offset: 58.56vh;
    --fall-duration: 11.584s;
    --fall-delay: 4.305s;
}
.star:nth-child(14) {
    --star-tail-length: 6.72em;
    --top-offset: 20.9vh;
    --fall-duration: 9.87s;
    --fall-delay: 0.162s;
}
.star:nth-child(15) {
    --star-tail-length: 5.58em;
    --top-offset: 36.55vh;
    --fall-duration: 6.355s;
    --fall-delay: 9.102s;
}
.star:nth-child(16) {
    --star-tail-length: 6.29em;
    --top-offset: 67.89vh;
    --fall-duration: 11.033s;
    --fall-delay: 9.205s;
}
.star:nth-child(17) {
    --star-tail-length: 7.19em;
    --top-offset: 27.81vh;
    --fall-duration: 9.962s;
    --fall-delay: 4.91s;
}
.star:nth-child(18) {
    --star-tail-length: 5.7em;
    --top-offset: 79.65vh;
    --fall-duration: 11.74s;
    --fall-delay: 3.484s;
}
.star:nth-child(19) {
    --star-tail-length: 5.58em;
    --top-offset: 11.2vh;
    --fall-duration: 11.403s;
    --fall-delay: 7.368s;
}
.star:nth-child(20) {
    --star-tail-length: 7.39em;
    --top-offset: 66.84vh;
    --fall-duration: 6.326s;
    --fall-delay: 4.999s;
}
.star:nth-child(21) {
    --star-tail-length: 5.41em;
    --top-offset: 49.86vh;
    --fall-duration: 9.137s;
    --fall-delay: 9.264s;
}
.star:nth-child(22) {
    --star-tail-length: 6.19em;
    --top-offset: 47.74vh;
    --fall-duration: 6.928s;
    --fall-delay: 5.921s;
}
.star:nth-child(23) {
    --star-tail-length: 5.35em;
    --top-offset: 45.75vh;
    --fall-duration: 8.328s;
    --fall-delay: 9.876s;
}
.star:nth-child(24) {
    --star-tail-length: 5.9em;
    --top-offset: 39.91vh;
    --fall-duration: 8.794s;
    --fall-delay: 4.68s;
}
.star:nth-child(25) {
    --star-tail-length: 5.85em;
    --top-offset: 23.45vh;
    --fall-duration: 11.62s;
    --fall-delay: 1.436s;
}
.star:nth-child(26) {
    --star-tail-length: 7.31em;
    --top-offset: 26.12vh;
    --fall-duration: 6.667s;
    --fall-delay: 3.314s;
}
.star:nth-child(27) {
    --star-tail-length: 5.79em;
    --top-offset: 76.05vh;
    --fall-duration: 7.203s;
    --fall-delay: 4.305s;
}
.star:nth-child(28) {
    --star-tail-length: 7.12em;
    --top-offset: 37.6vh;
    --fall-duration: 7.339s;
    --fall-delay: 3.78s;
}
.star:nth-child(29) {
    --star-tail-length: 6.05em;
    --top-offset: 88.55vh;
    --fall-duration: 10.812s;
    --fall-delay: 7.996s;
}
.star:nth-child(30) {
    --star-tail-length: 6.65em;
    --top-offset: 57.29vh;
    --fall-duration: 11.24s;
    --fall-delay: 0.13s;
}
.star:nth-child(31) {
    --star-tail-length: 6.87em;
    --top-offset: 92.03vh;
    --fall-duration: 11.8s;
    --fall-delay: 1.423s;
}
.star:nth-child(32) {
    --star-tail-length: 5.68em;
    --top-offset: 24.77vh;
    --fall-duration: 8.96s;
    --fall-delay: 9.654s;
}
.star:nth-child(33) {
    --star-tail-length: 6.33em;
    --top-offset: 16.16vh;
    --fall-duration: 9.198s;
    --fall-delay: 9.201s;
}
.star:nth-child(34) {
    --star-tail-length: 5.61em;
    --top-offset: 59.79vh;
    --fall-duration: 11.534s;
    --fall-delay: 5.611s;
}
.star:nth-child(35) {
    --star-tail-length: 6.23em;
    --top-offset: 12.36vh;
    --fall-duration: 10.59s;
    --fall-delay: 8.543s;
}
.star:nth-child(36) {
    --star-tail-length: 5.98em;
    --top-offset: 82.36vh;
    --fall-duration: 8.688s;
    --fall-delay: 8.832s;
}
.star:nth-child(37) {
    --star-tail-length: 5.97em;
    --top-offset: 3.32vh;
    --fall-duration: 9.255s;
    --fall-delay: 7.226s;
}
.star:nth-child(38) {
    --star-tail-length: 5.93em;
    --top-offset: 88.45vh;
    --fall-duration: 7.237s;
    --fall-delay: 6.469s;
}
.star:nth-child(39) {
    --star-tail-length: 6.59em;
    --top-offset: 3.2vh;
    --fall-duration: 6.644s;
    --fall-delay: 0.142s;
}
.star:nth-child(40) {
    --star-tail-length: 6.79em;
    --top-offset: 97.58vh;
    --fall-duration: 9.099s;
    --fall-delay: 3.435s;
}
.star:nth-child(41) {
    --star-tail-length: 5.3em;
    --top-offset: 17.59vh;
    --fall-duration: 10.061s;
    --fall-delay: 2.893s;
}
.star:nth-child(42) {
    --star-tail-length: 5.89em;
    --top-offset: 95.4vh;
    --fall-duration: 10.041s;
    --fall-delay: 9.505s;
}
.star:nth-child(43) {
    --star-tail-length: 6.39em;
    --top-offset: 23.67vh;
    --fall-duration: 8.453s;
    --fall-delay: 0.753s;
}
.star:nth-child(44) {
    --star-tail-length: 5.99em;
    --top-offset: 20.24vh;
    --fall-duration: 11.56s;
    --fall-delay: 3.069s;
}
.star:nth-child(45) {
    --star-tail-length: 6.11em;
    --top-offset: 47.42vh;
    --fall-duration: 7.349s;
    --fall-delay: 4.608s;
}
.star:nth-child(46) {
    --star-tail-length: 7.03em;
    --top-offset: 38.48vh;
    --fall-duration: 9.827s;
    --fall-delay: 0.381s;
}
.star:nth-child(47) {
    --star-tail-length: 6.14em;
    --top-offset: 32.45vh;
    --fall-duration: 7.528s;
    --fall-delay: 5.493s;
}
.star:nth-child(48) {
    --star-tail-length: 6.57em;
    --top-offset: 20.57vh;
    --fall-duration: 10.37s;
    --fall-delay: 9.101s;
}
.star:nth-child(49) {
    --star-tail-length: 7.18em;
    --top-offset: 2.94vh;
    --fall-duration: 8.235s;
    --fall-delay: 7.506s;
}
.star:nth-child(50) {
    --star-tail-length: 5.31em;
    --top-offset: 35.74vh;
    --fall-duration: 9.089s;
    --fall-delay: 1.059s;
}
.star::before,
.star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
}
.star::before {
    transform: rotate(45deg);
}
.star::after {
    transform: rotate(-45deg);
}

@keyframes fall {
    to {
        transform: translate3d(-30em, 0, 0);
    }
}
@keyframes tail-fade {
    0%,
    50% {
        width: var(--star-tail-length);
        opacity: 1;
    }
    70%,
    80% {
        width: 0;
        opacity: 0.4;
    }
    100% {
        width: 0;
        opacity: 0;
    }
}
@keyframes blink {
    50% {
        opacity: 0.6;
    }
}

/*
    MATRIX RAIN
*/
#matrix-canvas {
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}